{% extends 'base.html.twig' %}

{% block title %}Hello IndexController!{% endblock %}

{% block body %}
<a href="{{ path('board_create') }}"></a>
<div>
    <h4>Boards:</h4>
    {% if boards %}
        {% for board in boards %}
            <li><a href="{{ path('board_show', {'id': board.id}) }}">{{ board.title }}</a></li>

        {% endfor %}
        {% else %}
        no groups
    {% endif %}
</div>
<a href="{{ path('board_create') }}">Add a new board</a>
{% endblock %}
