{% extends 'base.html.twig' %}

{% block title %}Admin panel{% endblock %}

{% block body %}


    {% for user in users %}
        <li><a href="{{ path('admin_manage', {'user': user.id}) }}">{{ user.username }}</a></li>
    {% endfor %}
{% endblock %}
